body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#heading{
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 80, 224);
}

h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

img{
    height:200px;
    border-radius: 50%;
}

.cards{
    text-align: center;
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px 10px;
}

.but{
    margin-top: 20px;
    text-align: center;
}

.inpu{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    background-color: rgb(80, 80, 224);
    color: white;
    margin-left: 1vw;
}